header {
  height: 100px;
  width: 100%;
  border: 5px solid darkblue;
  background-color: #999900;
}

section { width: 70%;
  margin: 20px auto;
  border-bottom: 10px solid darkblue;
  background-color: #ffffd4;
  width: 250px;
  height: 320px;
  text-align: center;
  border: 5px solid black;
  display: inline-block;
}

h1 {
  text-align: center;
  line-height: 100px;
  margin: 0;

}

h2 {
  margin-bottom: 0;
  font-family: fantasy;
}

.boxes {
  padding: 20px auto;
  margin: 5px;
}

.box_1 {
  display: inline;
  border: 5px solid darkblue;
}

.box_2 {
  display: inline;
  border: 5px solid darkblue;
}

.box_3 {
  display: inline;
  border: 5px solid darkblue;
}

.box_4 {
  display: inline;
  border: 5px solid darkblue;
}

